
.list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color : #eeeeee;
  }

  .videoTitle {
    padding: 5% 2%;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
  }

  .videoDescription{
      font-style: italic;
      padding: 2%;
  }

  .frame{
      background-color: black;
  }